flows.json
[
    {
        "id": "3182ebc93c3ef608",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "00a3cca17c309348",
        "type": "mqtt in",
        "z": "3182ebc93c3ef608",
        "name": "",
        "topic": "mqtt",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "407a01e4.6b637",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 320,
        "wires": [
            [
                "38c8b1955a5908ed"
            ]
        ]
    },
    {
        "id": "38c8b1955a5908ed",
        "type": "json",
        "z": "3182ebc93c3ef608",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": true,
        "x": 410,
        "y": 320,
        "wires": [
            [
                "838b18fbf65a4488",
                "8f9875a229517083",
                "46e53e1894e2bd54",
                "6bfbd338c818e65d",
                "2ae173f22310ad4b",
                "cefb17b6c0219a06",
                "7908fdc92895ebdc",
                "d26cb578bd5196e1",
                "91c66a9ccf8b1a96",
                "19f6c5473333d794",
                "441b6dc5039a901c",
                "227ae2edda3f0a86",
                "d2b6515d6053d4e3"
            ]
        ]
    },
    {
        "id": "8f9875a229517083",
        "type": "function",
        "z": "3182ebc93c3ef608",
        "name": "Temperature",
        "func": "msg.payload = JSON.parse(msg.payload);\nvar msgout = { payload: msg.payload.Temperature };\n\nreturn msgout;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 100,
        "wires": [
            [
                "1be2c45dc8df9a70"
            ]
        ]
    },
    {
        "id": "46e53e1894e2bd54",
        "type": "function",
        "z": "3182ebc93c3ef608",
        "name": "Gas Pressure Trigger",
        "func": "msg.payload = JSON.parse(msg.payload);\nvar msgout = { payload: msg.payload.GasPressure };\nvar val = \"Gas Pressure level raised above 1020 hpa\"; \nvar jsonData = {\n    payload: \"Gas Pressure level raised above 1020 hpa\",\n    topic: \"Alert from Nodered\"\n};\n\nif (msg.payload.GasPressure > 1020) {\n    node.status({fill:\"red\",shape:\"dot\",text:val});\n    node.send(jsonData);\n} \n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 220,
        "wires": [
            [
                "1b2999ba06358bae"
            ]
        ]
    },
    {
        "id": "6bfbd338c818e65d",
        "type": "function",
        "z": "3182ebc93c3ef608",
        "name": "IAQ",
        "func": "msg.payload = JSON.parse(msg.payload);\nvar msgout = { payload: msg.payload.IAQ };\n\nreturn msgout;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 360,
        "wires": [
            [
                "836e708b17cbf258",
                "c25a53449233d9e1"
            ]
        ]
    },
    {
        "id": "2ae173f22310ad4b",
        "type": "function",
        "z": "3182ebc93c3ef608",
        "name": "Humidity",
        "func": "msg.payload = JSON.parse(msg.payload);\nvar msgout = { payload: msg.payload.Humidity };\n\nreturn msgout;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 440,
        "wires": [
            [
                "e1792be760b89564"
            ]
        ]
    },
    {
        "id": "cefb17b6c0219a06",
        "type": "function",
        "z": "3182ebc93c3ef608",
        "name": "CO2Eq",
        "func": "msg.payload = JSON.parse(msg.payload);\nvar msgout = { payload: msg.payload.CO2Eq };\n\nreturn msgout;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 500,
        "wires": [
            [
                "3b4d24073cffaf43"
            ]
        ]
    },
    {
        "id": "7908fdc92895ebdc",
        "type": "function",
        "z": "3182ebc93c3ef608",
        "name": "VOCEq",
        "func": "msg.payload = JSON.parse(msg.payload);\nvar msgout = { payload: msg.payload.VOCEq };\n\nreturn msgout;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 560,
        "wires": [
            [
                "088bd570118b3702"
            ]
        ]
    },
    {
        "id": "d26cb578bd5196e1",
        "type": "function",
        "z": "3182ebc93c3ef608",
        "name": "Moisture",
        "func": "msg.payload = JSON.parse(msg.payload);\nvar msgout = { payload: msg.payload.Moisture };\n\nreturn msgout;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 620,
        "wires": [
            [
                "28ced13ae6c12a38",
                "9002073ebf4c837e"
            ]
        ]
    },
    {
        "id": "227ae2edda3f0a86",
        "type": "function",
        "z": "3182ebc93c3ef608",
        "name": "Pressure",
        "func": "msg.payload = JSON.parse(msg.payload);\nvar msgout = { payload: msg.payload.Pressure };\n\nreturn msgout;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 680,
        "wires": [
            [
                "68cb60d0ed99ee99"
            ]
        ]
    },
    {
        "id": "91c66a9ccf8b1a96",
        "type": "function",
        "z": "3182ebc93c3ef608",
        "name": "Battery Percentage",
        "func": "msg.payload = JSON.parse(msg.payload);\nvar msgout = { payload: msg.payload.PowerConsumption };\n\nreturn msgout;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 740,
        "wires": [
            [
                "bf0e38e6aed13f94",
                "ec582c4d346e5d32"
            ]
        ]
    },
    {
        "id": "1be2c45dc8df9a70",
        "type": "ui_chart",
        "z": "3182ebc93c3ef608",
        "name": "",
        "group": "dab262ce316a4883",
        "order": 0,
        "width": "15",
        "height": "10",
        "label": "Temperature",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "monotone",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 890,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "6e736988022b4942",
        "type": "ui_chart",
        "z": "3182ebc93c3ef608",
        "name": "",
        "group": "38a17c020e582136",
        "order": 0,
        "width": "15",
        "height": "10",
        "label": "Gas Pressure",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "monotone",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1000,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "c25a53449233d9e1",
        "type": "bar-chart-data",
        "z": "3182ebc93c3ef608",
        "name": "IAQ AVG ",
        "x_interval": "hours",
        "x_size": 24,
        "unit": "",
        "precision": "0",
        "is_meter_reading": "False",
        "agg_by": "avg",
        "x": 860,
        "y": 380,
        "wires": [
            [
                "ca4166cdd36c20a4"
            ]
        ]
    },
    {
        "id": "ca4166cdd36c20a4",
        "type": "ui_chart",
        "z": "3182ebc93c3ef608",
        "name": "",
        "group": "5bcbfd932a2367fe",
        "order": 0,
        "width": "15",
        "height": "10",
        "label": "IAQ AVG",
        "chartType": "bar",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1140,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "836e708b17cbf258",
        "type": "ui_chart",
        "z": "3182ebc93c3ef608",
        "name": "",
        "group": "3469fb48ef8d5edf",
        "order": 0,
        "width": "15",
        "height": "10",
        "label": "IAQ ",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "monotone",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 850,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "e1792be760b89564",
        "type": "ui_chart",
        "z": "3182ebc93c3ef608",
        "name": "",
        "group": "ef353e45fcc6c7c4",
        "order": 0,
        "width": "15",
        "height": "10",
        "label": "Humidity",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "monotone",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 860,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "3b4d24073cffaf43",
        "type": "ui_chart",
        "z": "3182ebc93c3ef608",
        "name": "",
        "group": "1203a79c5835685d",
        "order": 0,
        "width": "15",
        "height": "10",
        "label": "CO2Eq",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "monotone",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 860,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "088bd570118b3702",
        "type": "ui_chart",
        "z": "3182ebc93c3ef608",
        "name": "",
        "group": "889df28be399a93b",
        "order": 0,
        "width": "15",
        "height": "10",
        "label": "VOCEq",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "monotone",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 860,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "28ced13ae6c12a38",
        "type": "ui_chart",
        "z": "3182ebc93c3ef608",
        "name": "",
        "group": "c1dae3bc01b1047e",
        "order": 0,
        "width": "15",
        "height": "10",
        "label": "Moisture",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "monotone",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 860,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "68cb60d0ed99ee99",
        "type": "ui_chart",
        "z": "3182ebc93c3ef608",
        "name": "",
        "group": "a001d498b30429ec",
        "order": 0,
        "width": "15",
        "height": "10",
        "label": "Pressure",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "monotone",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 860,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "274b7d49e3d0ba83",
        "type": "ui_chart",
        "z": "3182ebc93c3ef608",
        "name": "",
        "group": "ea05fdae7d75e0bc",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Battery Status Every Hour",
        "chartType": "bar",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "monotone",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1250,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "838b18fbf65a4488",
        "type": "mongodb out",
        "z": "3182ebc93c3ef608",
        "mongodb": "23bf36313caf1364",
        "name": "",
        "collection": "mqtt",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "insert",
        "x": 710,
        "y": 40,
        "wires": []
    },
    {
        "id": "19f6c5473333d794",
        "type": "function",
        "z": "3182ebc93c3ef608",
        "name": "Temperature Trigger",
        "func": "msg.payload = JSON.parse(msg.payload);\nvar msgout = { payload: msg.payload.Temperature };\nvar val = \"Temperature reduced to below 12 degrees\"; \nvar jsonData = {\n    payload: \"Temperature reduced to below 12 degrees\",\n    topic: \"Alert from Nodered\"\n};\n\nif (msg.payload.Temperature < 12) {\n    node.status({fill:\"green\",shape:\"dot\",text:val});\n    node.send(jsonData);\n} \n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 160,
        "wires": [
            [
                "1b2999ba06358bae"
            ]
        ]
    },
    {
        "id": "441b6dc5039a901c",
        "type": "function",
        "z": "3182ebc93c3ef608",
        "name": "Gas Pressure ",
        "func": "msg.payload = JSON.parse(msg.payload);\nvar msgout = { payload: msg.payload.GasPressure };\n\nreturn msgout;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 280,
        "wires": [
            [
                "6e736988022b4942"
            ]
        ]
    },
    {
        "id": "1b2999ba06358bae",
        "type": "e-mail",
        "z": "3182ebc93c3ef608",
        "server": "smtp.gmail.com",
        "port": "465",
        "authtype": "BASIC",
        "saslformat": true,
        "token": "oauth2Response.access_token",
        "secure": true,
        "tls": true,
        "name": "traballonegocio@gmail.com",
        "dname": "email alert",
        "x": 950,
        "y": 180,
        "wires": []
    },
    {
        "id": "bf0e38e6aed13f94",
        "type": "bar-chart-data",
        "z": "3182ebc93c3ef608",
        "name": "Battery Status Every Hour",
        "x_interval": "hours",
        "x_size": 24,
        "unit": "",
        "precision": "0",
        "is_meter_reading": "False",
        "agg_by": "avg",
        "x": 970,
        "y": 780,
        "wires": [
            [
                "274b7d49e3d0ba83"
            ]
        ]
    },
    {
        "id": "9002073ebf4c837e",
        "type": "bar-chart-data",
        "z": "3182ebc93c3ef608",
        "name": "Moisture AVG",
        "x_interval": "hours",
        "x_size": 24,
        "unit": "",
        "precision": "0",
        "is_meter_reading": "False",
        "agg_by": "avg",
        "x": 880,
        "y": 640,
        "wires": [
            [
                "195752be24ac7fe6"
            ]
        ]
    },
    {
        "id": "195752be24ac7fe6",
        "type": "ui_chart",
        "z": "3182ebc93c3ef608",
        "name": "",
        "group": "11f9d2b36c933bd6",
        "order": 0,
        "width": "15",
        "height": "10",
        "label": "Moisture AVG",
        "chartType": "bar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": true,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1120,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "ec582c4d346e5d32",
        "type": "ui_chart",
        "z": "3182ebc93c3ef608",
        "name": "",
        "group": "25d7cfd939fcfa46",
        "order": 0,
        "width": "15",
        "height": "10",
        "label": "Power Consumption",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "monotone",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 960,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "d2b6515d6053d4e3",
        "type": "debug",
        "z": "3182ebc93c3ef608",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 220,
        "wires": []
    },
    {
        "id": "017c3c41d6472cee",
        "type": "mqtt out",
        "z": "3182ebc93c3ef608",
        "name": "",
        "topic": "mqtt",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "407a01e4.6b637",
        "x": 350,
        "y": 140,
        "wires": []
    },
    {
        "id": "c45be79fed00c1cc",
        "type": "inject",
        "z": "3182ebc93c3ef608",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 80,
        "wires": [
            [
                "168a6db504758ab9"
            ]
        ]
    },
    {
        "id": "168a6db504758ab9",
        "type": "data-generator",
        "z": "3182ebc93c3ef608",
        "name": "Dummy Environmental Data Generator",
        "field": "payload",
        "fieldType": "msg",
        "syntax": "text",
        "template": "{\n    \"Moisture\": \"{{int 40 100}}\",\n    \"IAQ\": \"{{int 100 500}}\",\n    \"GasPressure\": \"{{int 100 1100}}\",\n    \"VOCEq\": \"{{int 100 1100}}\",\n    \"CO2Eq\": \"{{int 100 1200}}\",\n    \"Pressure\": \"{{int 100 1100}}\",\n    \"Humidity\": \"{{int 10 100}}\",\n    \"Temperature\": \"{{int 1 100}}\",\n    \"PowerConsumption\": \"{{int 1 100}}\"\n}",
        "x": 350,
        "y": 80,
        "wires": [
            [
                "017c3c41d6472cee"
            ]
        ]
    },
    {
        "id": "407a01e4.6b637",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mqtt",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "dab262ce316a4883",
        "type": "ui_group",
        "name": "Temperature",
        "tab": "78224d9e57ccfcef",
        "order": 1,
        "disp": false,
        "width": "15",
        "collapse": false,
        "className": ""
    },
    {
        "id": "38a17c020e582136",
        "type": "ui_group",
        "name": "Group 9",
        "tab": "78224d9e57ccfcef",
        "order": 9,
        "disp": false,
        "width": "15",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5bcbfd932a2367fe",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "1fc86090b84f7617",
        "order": 1,
        "disp": false,
        "width": "15",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3469fb48ef8d5edf",
        "type": "ui_group",
        "name": "Group 2",
        "tab": "78224d9e57ccfcef",
        "order": 2,
        "disp": false,
        "width": "15",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ef353e45fcc6c7c4",
        "type": "ui_group",
        "name": "Group 3",
        "tab": "78224d9e57ccfcef",
        "order": 3,
        "disp": false,
        "width": "15",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1203a79c5835685d",
        "type": "ui_group",
        "name": "Group 4",
        "tab": "78224d9e57ccfcef",
        "order": 4,
        "disp": false,
        "width": "15",
        "collapse": false,
        "className": ""
    },
    {
        "id": "889df28be399a93b",
        "type": "ui_group",
        "name": "Group 5",
        "tab": "78224d9e57ccfcef",
        "order": 5,
        "disp": false,
        "width": "15",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c1dae3bc01b1047e",
        "type": "ui_group",
        "name": "Group 6",
        "tab": "78224d9e57ccfcef",
        "order": 6,
        "disp": false,
        "width": "15",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a001d498b30429ec",
        "type": "ui_group",
        "name": "Group 7",
        "tab": "78224d9e57ccfcef",
        "order": 7,
        "disp": false,
        "width": "15",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ea05fdae7d75e0bc",
        "type": "ui_group",
        "name": "Group 3",
        "tab": "1fc86090b84f7617",
        "order": 3,
        "disp": false,
        "width": "15",
        "collapse": false,
        "className": ""
    },
    {
        "id": "23bf36313caf1364",
        "type": "mongodb",
        "hostname": "mongo",
        "topology": "direct",
        "connectOptions": "",
        "port": "27017",
        "db": "mqtt",
        "name": ""
    },
    {
        "id": "11f9d2b36c933bd6",
        "type": "ui_group",
        "name": "Group 2",
        "tab": "1fc86090b84f7617",
        "order": 2,
        "disp": false,
        "width": "15",
        "collapse": false,
        "className": ""
    },
    {
        "id": "25d7cfd939fcfa46",
        "type": "ui_group",
        "name": "Group 8",
        "tab": "78224d9e57ccfcef",
        "order": 8,
        "disp": false,
        "width": "15",
        "collapse": false,
        "className": ""
    },
    {
        "id": "78224d9e57ccfcef",
        "type": "ui_tab",
        "name": "Environmental Monitoring Dashboard",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "1fc86090b84f7617",
        "type": "ui_tab",
        "name": "Average Data ",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]